[submodule "cpp-httplib"]
	path = cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "CLI11"]
	path = CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "sqlite_orm"]
	path = sqlite_orm
	url = https://github.com/fnc12/sqlite_orm.git
